@use "../abstracts/variables" as *;
@use "../abstracts/mixins";

.information-section{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    padding-left: 5rem;
    // gap: 2rem;
    .text-area{
        width:50%;
        color: $primary-text-color;
        margin-left: 5rem;
        .logo{
            width: 5vh;
        };
        span{
            color: $primary-text-color;
            font-size: 2rem;
            font-weight: 700;
            margin-left: 3%;
        }
        .first-para{
            font-size: 0.8rem;
            font-weight: 700;
            margin-top: 1rem;
            margin-bottom: 1rem;
            opacity: 60%;
        }
        .second-para{
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 1rem;
            opacity: 60%;
        }
        .third-para{
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 1rem;
            opacity: 60%;
        }
        .fourth-para{
            font-size: 0.8rem;
            font-weight: 700;
            margin-top: 1rem;
            margin-bottom: 1rem;
            opacity: 60%;
        }
        .fifth-para{
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 1rem;
            opacity: 60%;
        }
        .quote{
            font-size: 0.8rem;
            font-weight: 700;
            margin-top: 1rem;
            margin-bottom: 1rem;
            opacity: 60%;
            font-style: italic;
        }
        .sixth-para{
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 1rem;
            opacity: 60%;
        }
        .seventh-para{
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 1rem;
            opacity: 60%;
        }
        .border-button{
            @include mixins.border-button;
            padding: 0.8rem 1.2rem;
            margin-top: 1rem;
        }
    }
    .image-area{
        width: 60%;
        height: 100%;
        margin-right: 8%;
        .image{
            width: 100%;
            height: 100%;
        }
    }
}