@use "../abstracts/variables" as *;
@use "../abstracts/mixins";

.presale-details {
  width: 100%;
  margin-top: -5%;
  .presale-section {
    .presale-bg {
      width: 100%;
      position: absolute;
      z-index: -1;
    }
    .presale-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 25rem;
      h2 {
        color: $primary-text-color;
        font-size: 2.2rem;
      }
      .cards {
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        .presale-card-1{
            width: 25%;
        }
        .presale-card-2{
            width: 25%;
            margin-top: 5rem;
        }
        .presale-card-3{
            width: 25%;
        }
      }
    }
  }
}
